small{
    color: rgb(100, 85, 0);
}

nav{
    padding: 10px; 
}

h3, h1{ 
    color: rgb(255, 30, 255);
    padding: 15px;
   
}
.body{
    text-align: center;
}
.myFormGroup{
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    width: 70%;
    padding-left: 15%;
    border-bottom: 0.5px rgb(100, 0, 67) solid;
}
